#result {
    margin-top: 10px;
}

.custom-title {
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 0.3rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.custom-subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    color: #7f8c8d;
    margin-bottom: 1.5rem;
    font-style: italic;
    letter-spacing: 0.5px;
}

.btn-primary-custom {
    background-color: #3b82f6; /* Tailwind bg-blue-500 */
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.25rem; /* rounded */
    transition: background-color 0.3s ease-in-out;
}

.btn-primary-custom:hover {
    background-color: #1d4ed8; /* Tailwind hover:bg-blue-700 */
}
