{% extends "base.html" %}

{% block title %}Home - ClearSky{% endblock %}

{% block content %}
<!-- Title and Subtitle of the Home Page -->
<h1 class="text-center text-blue-600 text-4xl font-bold">ClearSky</h1>
<p class="text-center text-gray-500 italic text-xl mt-2">
    Real-Time Weather and Air Quality Visualization
</p>

<p class="mt-3 text-center text-gray-500 text-l">The instances you have started are listed below. To see the newly
    created instance, you can refresh the page or use the refresh button.</p>

<!-- Select Instance Part -->
<div class="instance-container">
    <label for="instanceDropdown" class="instances-label">Instances:</label>
    <div class="dropdown text-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="instanceDropdownButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            Select Instance
        </button>
        <ul class="dropdown-menu" id="instanceDropdown">
            <li><a class="dropdown-item disabled" href="#">No active instances</a></li>
        </ul>
    </div>
    <button onclick="fetchInstances()" class="btn-primary-custom">Refresh</button>
</div>

{% endblock %}